<a href="{{ . }}" title="Go to {{ . }}">
    {{- if hasPrefix . "https://archlinux.org/" -}}
    <img class="source-logo" src="{{ "/images/archlinux.svg" | relURL }}" alt="ArchLinux" />
    {{- else if hasPrefix . "https://packages.debian.org/" -}}
    <img class="source-logo" src="{{ "/images/debian.svg" | relURL }}" alt="Debian" />
    {{- else if hasPrefix . "https://packages.fedoraproject.org/" -}}
    <img class="source-logo" src="{{ "/images/fedora.svg" | relURL }}" alt="Fedora" />
    {{- else if hasPrefix . "https://search.nixos.org/" -}}
    <img class="source-logo" src="{{ "/images/nixos.svg" | relURL }}" alt="NixOS" />
    {{- else if hasPrefix . "https://software.opensuse.org/" -}}
    <img class="source-logo" src="{{ "/images/opensuse.svg" | relURL }}" alt="OpenSUSE" />
    {{- else -}}
    [unknown]
    {{- end -}}
</a>